registry=https://registry.npmmirror.com/
@dc-basic-component:registry=https://nexus.dct99.com/repository/npm-dc/
@dc:registry=https://nexus.dct99.com/repository/npm-dc/
shamefully-hoist=true
strict-peer-dependencies=false
